@use '../abstracts/variables' as *;

.app-footer {
  margin-top: auto;
  padding: $space-5 $space-4;
  border-top: 1px solid $color-border;
  text-align: center;
}

.app-footer-text {
  font-size: $font-size-xs;
  color: $color-text-muted;
}
